#album-page-container {
  display: flex;
  justify-content: center;
}
#container {
    width: 630px;
    padding: 25px;
    margin-left: auto;
    border: 1px solid #00000021;

}
#main-container {
    width: 800px;
    border: 1px solid #00000021;
    display: flex;
}

#side-pictures-container {
    position: relative;
    padding-top: 25px;
    display: inline-table;
    text-align: center;
    height: 100%;
    width: 100%;
}

#main-page {
    display: flex;
    justify-content: center;
}
#album-page-frame {
  position: relative;
}

#album-page-view {
  border: 10px solid black;
}

/*#album-page-frame.landscape {
  height: 595.28px;
  width: 841.89px;
}*/
#album-page-frame.landscape {
    height: 396px;
    width: 561px;
}

#album-page-frame.portrait {
  height: 561px;
  width: 396px;
}

.cropped-result-image {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 100%;
  max-height: 100%;
}
.btn-margin{
    margin-left: 2px;
    margin-right: 2px;
}

.horizontal-center{
    display: flex;
    justify-content: center;
}

#modal-import-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

#modal-import-container img {
  max-width: 500px;
  max-height: 500px;
}

#controls-container {
  display: grid;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: fit-content(300px);
}
