#album-page-container {
  display: flex;
  justify-content: center;
}

#album-page-frame {
  border: 10px solid black;
}

#album-page-frame.landscape {
  height: 450px;
  width: 800px;
}

#album-page-frame.portrait {
  height: 800px;
  width: 450px;
}

#cropped-result-image {
  max-width: 100%;
  max-height: 100%;
}
