@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Amatic+SC|Charmonman|Fredoka+One|Great+Vibes|Lato|Monoton|Old+Standard+TT|Oleo+Script+Swash+Caps|PT+Mono|Roboto|Shadows+Into+Light+Two|Tangerine|Raleway');

.hidden { display:none !important; }

.Roboto {
    font-family: 'Roboto', sans-serif
}
.Lato {
    font-family: 'Lato', sans-serif
}
.Shadows {
    font-family: 'Shadows Into Light Two', cursive;
}
.OldStandardTT {
    font-family: 'Old Standard TT', serif;
}
.AbrilFatface {
    font-family: 'Abril Fatface', cursive;
}
.OleoScript {
    font-family: 'Oleo Script Swash Caps', cursive;
}
.PTMono {
    font-family: 'PT Mono', monospace;
}
.Charmonman {
    font-family: 'Charmonman', cursive;
}
.GreatVibes {
    font-family: 'Great Vibes', cursive;
}
.AmaticSC{
    font-family: 'Amatic SC', cursive;
}
.Tangerine{
    font-family: 'Tangerine', cursive;
}
.Fredoka{
    font-family: 'Fredoka One', cursive;
}
.Monoton{
    font-family: 'Monoton', cursive;
}
.Raleway{
    font-family: 'Raleway', sans-serif;
}

hr{
   height: 1px;
}

#album-page-container {
  display: flex;
  justify-content: center;
}
#container {
    width: 640px;
    padding: 25px;
    margin-left: auto;
    border: 1px solid #00000021;

}
#main-container {
    width: 800px;
    border: 1px solid #00000021;
    display: flex;
}

#side-pictures-container {
    position: relative;
    padding-top: 25px;
    display: inline-table;
    text-align: center;
    height: 100%;
    width: 100%;
}

#main-page {
    display: flex;
    justify-content: center;
}
#album-page-frame {
  position: relative;
}

#album-page-view {
  border: 10px solid black;
    height: 416px;
    width: 581px;
    position: relative;
}

/*#album-page-frame.landscape {
  height: 595.28px;
  width: 841.89px;
}*/
#album-page-separator{
    width: 50%;
    height: 100%;
    border-right: 2px dashed #00000026;
    position: absolute
}
#front-back-separator-right{
    left: 55%;
    width: 45%;
    height: 100%;
    border-left: 2px dashed #00000026;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#front-back-separator-right > p, #front-back-separator-left > p{
    color: #0000004f
}

#pagina-font-right{
    left: 55%;
    width: 45%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0000004f
}

#pagina-font-left{
    width: 45%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0000004f
}

#front-back-separator{
    left: 27.5%;
    width: 45%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0000004f
}


#front-back-separator-left{

    width: 45%;
    height: 100%;
    border-right: 2px dashed #00000026;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#album-page-frame.landscape {
    height: 100%;
    width: 100%;
    position: absolute;
}

#album-page-frame.portrait {
  height: 561px;
  width: 396px;
}

.cropped-result-image {
  position: absolute;
  top: 0px;
  left: 0px;
  max-width: 100%;
  max-height: 100%;
}
.btn-margin{
    margin-left: 2px;
    margin-right: 2px;
}

.horizontal-center{
    display: flex;
    justify-content: center;
}

#modal-import-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

#modal-import-container img {
  max-width: 500px;
  max-height: 500px;
}

#controls-container {
  display: grid;
  grid-column-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: fit-content(300px);
}
